<form (ngSubmit)="onSubmit(animalForm)"
	  #animalForm="ngForm"
	  (populateTheForm)="populateForm($event)">
	<div class="form-group">
		<label for="nom">Nom</label>
		<input type="text"
			   class="form-control"
			   id="nom"
			   placeholder="Chien"
			   [(ngModel)]="nom"
			   name="nom"
			   required />
	</div>
	<div class="form-group">
		<label for="ordre">Ordre</label>
		<select class="form-control"
				id="ordre"
				[(ngModel)]="ordre"
				name="ordre"
				required>
			<option *ngFor="let ordre of listeDesOrdres">{{ ordre }}</option>
		</select>
	</div>

	<div class="form-group">
		<label for="imageUrl">Url d'image</label>
		<input class="form-control"
			   type="text"
			   id="imageUrl"
			   [(ngModel)]="imageUrl"
			   name="imageUrl" />
	</div>
	<div class="row">
		<div class="col-md-1">
			<button class="btn btn-success"
					type="submit"
					[disabled]="!animalForm.form.valid">
				<ng-container *ngIf="isEditMode">Modifier</ng-container>
				<ng-container *ngIf="!isEditMode"> Ajouter </ng-container>
			</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-danger"
					type="button"
					*ngIf="!isEditMode && animalForm.form.dirty"
					(click)="resetForm(animalForm)">Reset</button>
		</div>
		<div class="col-md-1"> <button class="btn btn-warning"
					*ngIf="isEditMode"
					(click)="cancelEditMode(animalForm)">Cancel edit</button>
		</div>
	</div>
</form>
